body {
    background-image: url(bg.webp);
    min-height: 100vh;
    background-size: cover;
  }
.run-container{
    position: absolute;
    left: 20%;
    top: 95%;
    width: 120px;
    animation: runningAnimation 12s infinite;
  }
  .run-container img{
    width: 100%;
  }
  
  @keyframes runningAnimation {
    0%{
      
      left: 10%;
     
    }
  
    
  
    100%{
      left: 100%;
     
  
    }
  }
  .plane-container{
    position: absolute;
    left: 20%;
    top: 95%;
    width: 120px;
    animation: runningAnimation 20s infinite;
  }
  .run-container img{
    width: 100%;
  }
  
  @keyframes runningAnimation {
    0%{
      
      left: 10%;
     
    }
  
    
  
    100%{
      left: 100%;
     
  
    }
  }