body {
    background-image: url(bg.webp);
    min-height: 100vh;
    background-size: cover;
  }
.covid-container img{
    position: absolute;
    left: 20%;
    top: 95%;
    width: 1opx;
    animation: runningAnimation 12s infinite;
  }
  .covid-container img{
    width: 50%;
  }
  
  @keyframes runningAnimation {
    0%{
   }
  }
.covid-container img{
    position: absolute;
    left: 20%;
    top: 95%;
    width: 70px;
    animation: runningAnimation 20s infinite;
  }
  .virus-container img{
    width: 30%;
    left: 10%;
  }
  
  @keyframes runningAnimation {
    0%{
      
      left: 10%;
     
    }
  
    
  

    
    